$oss-000: #6589d4;
$oss-100: #5c7ec6;
$oss-200: #6182c8;
$oss-300: #4463a4;

$purple-000: $oss-000;
$purple-100: $oss-100;
$purple-200: $oss-200;
$purple-300: $oss-300;

$link-color: $oss-000;
$btn-primary-color: $oss-100